/*
Green palette
50#E8F5E9
100#C8E6C9
200#A5D6A7
300#81C784
400#66BB6A
500#4CAF50
600#43A047
700#388E3C
800#2E7D32
900#1B5E20

Deep orange palette
50#FBE9E7
100#FFCCBC
200#FFAB91
300#FF8A65
400#FF7043
500#FF5722
600#F4511E
700#E64A19
800#D84315
900#BF360C
A100#FF9E80
A200#FF6E40
A400#FF3D00
A700#DD2C00
*/

$COLOR_50: #E8F5E9;
$COLOR_500: #4CAF50;
$COLOR_700: #388E3C;
$COLOR_800: #2E7D32;

$SPACING: 10px;
$MENU_WIDTH: 300px;


html, body {
    height: 100%;
}
body {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}


#container {
    height: 100%;
}

#header {
    width: 100%;
}

#left
{
    overflow: scroll;
    background-color:$COLOR_800;
    height: 100%;
    width: $MENU_WIDTH;
    float: left;
    padding: $SPACING;
}

#right
{
    overflow: scroll;
    background-color:$COLOR_500;
    height: 100%;
    padding: $SPACING;
    margin-left: $MENU_WIDTH;
}

.clear
{
    clear: both;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

#upload-ledger {
    opacity: 0;
    position: absolute;
    z-index: -1;
}