/*
Green palette
50#E8F5E9
100#C8E6C9
200#A5D6A7
300#81C784
400#66BB6A
500#4CAF50
600#43A047
700#388E3C
800#2E7D32
900#1B5E20

Deep orange palette
50#FBE9E7
100#FFCCBC
200#FFAB91
300#FF8A65
400#FF7043
500#FF5722
600#F4511E
700#E64A19
800#D84315
900#BF360C
A100#FF9E80
A200#FF6E40
A400#FF3D00
A700#DD2C00
*/

$COLOR_50: #E8F5E9;
$COLOR_400: #66BB6A;
$COLOR_500: #4CAF50;
$COLOR_600: #43A047;
$COLOR_700: #388E3C;
$COLOR_800: #2E7D32;

$VIBRANT_500: #FF5722;
$VIBRANT_200: #FFAB91;

$SPACING: 10px;
$MENU_WIDTH: 300px;

* {
//    outline : 1px solid red; 
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 11pt;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

input, select {
    color: black;
}

#container {

    height: 100%;
}

#header {
    width: 100%;
}

#left
{
    overflow: auto;
    background-color:$COLOR_800;
    height: 100%;
    width: $MENU_WIDTH; 
    float: left;

    .currentAccount {
        font-weight: 600;
        background-color: $VIBRANT_500;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding-left: 10px;
            //margin: 0 0 5px 0;
            min-width: 20px;
        }
    }
}

#left_content {
    padding: $SPACING;  
}

#right 
{
    overflow: auto;
    background-color:$COLOR_500;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    margin-left: $MENU_WIDTH;

    #right_content {
        padding: $SPACING;
    
        #chart_div {
            width:100%;
            min-height: 100px;
            background-color: blue;
        }

        .pagination {
            list-style-type : none;
            padding: 0;
            margin: 0;

            li {
                display : inline;
                margin : 0 3px 0 0;
                background-color: $VIBRANT_500;

                a {
                    margin : 3px;
                    min-width: 20px;
                }
            }

            .currentPage {
                font-weight: 600;
                padding-top : 3px;
                padding-bottom : 3px;
            }
        }

        #transactions {
            width: 100%;

            td {
                padding: 5px;
            }
        }

        #newTransaction {
            background-color: $VIBRANT_200;
        }

        .rowEven {
            background-color: $COLOR_500;
        }

        .rowOdd {
            background-color: $COLOR_400;
        }
    }
}



.clear
{
    clear: both;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

.action_btn {
    padding: 10px;
    margin-bottom: $SPACING;
    background-color: $VIBRANT_500;  
    display: block;
}

#upload-ledger, #upload-ofx {
    opacity: 0;
    position: absolute;
    z-index: -1;
}