.hidden {
  display: none !important;
}

mat-input-container {
  flex:1;
}

#filters_container {
  padding: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
}

#filters_container > * {
  margin: 6px;
}

#filtersSecondLine {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
