<ul class="account" *ngIf="account">

    <div
      [ngClass]="{checked:(isChecked)}"
      [ngStyle]="{ 'padding-left': (treeLevel * 15) + 'px' }"
      class="account_header">
      <div class="chevron_container" >
        <mat-icon *ngIf="account.children.length > 0" class="material-icons" (click)="toggle()">{{ isCollapsed ? 'chevron_right' : 'expand_more' }}  </mat-icon>
      </div>

      <mat-checkbox *ngIf="showCheckboxes" [checked]="isChecked" (change)="checkAccount($event.checked)"></mat-checkbox>

      <div class="infos" (click)="checkAccount(isChecked)">
        <span class="account_name">
            {{ account.name.split(':').pop() }}</span>

        <span class="balance">{{ account.balance.plus(account.childrenBalance).toFixed(2) }}
        </span>
      </div>
    </div>

    <li *ngFor="let child of account.children">
        <app-account-tree
          [showCheckboxes]="showCheckboxes"
          [treeLevel]="treeLevel + 1"
          *ngIf="!isCollapsed"
          [accountName]='child'></app-account-tree>
    </li>
</ul>
