<ul class="account" *ngIf="account">

    <div>
      <mat-icon *ngIf="account.children?.size > 0" class="material-icons" (click)="toggle()">{{ isCollapsed ? 'chevron_right' : 'expand_more' }}  </mat-icon>

       <mat-checkbox [checked]="isChecked" (change)="checkAccount($event.checked)"></mat-checkbox>

        <span (click)="isChecked = !isChecked">
            {{ account.name.split(':').pop() }} ° {{ account.balance.plus(account.childrenBalance).toFixed(2) }}
        </span>

    </div>

    <li *ngFor="let child of account.children">
        <app-account-tree
                *ngIf="!isCollapsed"
                [account]='child'></app-account-tree>
    </li>
</ul>
