<button *ngIf="!isEditing" id="fab_add" mat-fab color="accent" (click)="createTransaction()">+</button>

<mat-card *ngIf="isEditing" id="edit_transaction">
    <form [formGroup]="group" novalidate (ngSubmit)="onSubmit()">
    <mat-card-content>

    <div id="header">
      <mat-input-container floatPlaceholder="never" id="title" class="expand">
        <input matInput #filter placeholder="Titre" formControlName="title">
      </mat-input-container>

      <mat-input-container id="date">
          <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
          <mat-datepicker-toggle matInput [for]="picker"></mat-datepicker-toggle>
        </mat-input-container>
        <mat-datepicker #picker></mat-datepicker>

        <button id="close" (click)="closePanel()" mat-icon-button>
            <mat-icon class="material-icons">clear</mat-icon>
          </button>
    </div>

    <div id="postings" formArrayName="postings">
      <div *ngFor="let p of postings.controls; let i=index" [formGroupName]="i" id="posting" >
        <mat-input-container class="expand" floatPlaceholder="never">
          <input matInput placeholder="Compte" formControlName="account" type="text" [matAutocomplete]="auto">
        </mat-input-container>
        <mat-input-container class="expand" floatPlaceholder="never">
          <input matInput #filter placeholder="Commentaire" formControlName="comment">
        </mat-input-container>
        <mat-input-container id="amount" floatPlaceholder="never">
            <input matInput #filter placeholder="Montant" formControlName="amount">
        </mat-input-container>
        <mat-input-container id="currency" floatPlaceholder="never">
            <input matInput #filter placeholder="Monnaie" formControlName="currency">
        </mat-input-container>
        <button id="close" (click)="removePosting(i)" mat-icon-button>
          <mat-icon class="material-icons">delete</mat-icon>
        </button>
      </div>
    </div>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let account of filteredAccounts | async" [value]="account.name">
          {{ account.name }}
      </mat-option>
    </mat-autocomplete>

  </mat-card-content>

  <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="group.pristine || group.invalid" color="primary">Sauvegarder</button>
      <button mat-raised-button type="button" (click)="revert()" [disabled]="group.pristine">Réinitialiser</button>

    <button mat-raised-button type="menu" (click)="addPosting();$event.preventDefault();">Ajouter une ligne</button>
    <button mat-raised-button type="menu" (click)="deleteTransaction();$event.preventDefault();" *ngIf="isEditing" color="warn">Supprimer la transaction</button>

    <div class="expand"></div>

    <button mat-raised-button *ngIf="group.status === 'INVALID'" type="button" color="warn"><mat-icon class="material-icons">warning</mat-icon>{{ (formErrors | async) }}</button>



  </mat-card-actions>

</form>

</mat-card>
