<button *ngIf="!(isPanelOpen | async)" id="fab_add" mat-fab color="accent" (click)="createTransaction()">+</button>

<mat-card *ngIf="isPanelOpen | async" id="edit_transaction">
    <form [formGroup]="group" novalidate (ngSubmit)="onSubmit()">
    <mat-card-content>

    <div id="header">
      <mat-form-field floatPlaceholder="never" id="title" class="expand" >
        <input matInput placeholder="Titre" formControlName="title">
        <mat-error *ngIf="titleErrors | async">
          {{ titleErrors | async }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field id="date">
          <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dateErrors | async">
            {{ dateErrors | async }}
          </mat-error>
      </mat-form-field>

      <button type="button" id="close" (click)="closePanel()" mat-icon-button>
          <mat-icon class="material-icons">clear</mat-icon>
      </button>
    </div>

    <div formArrayName="tags">
        <app-tags
        [tags]="group.controls.tags.value"
        [allowEditing]="true"
        (onClosedClick)="removeHeaderTag($event)"
        (onTagAdded)="addHeaderTag($event)"
        ></app-tags>
    </div>

    <div id="postings" formArrayName="postings" [ngClass]="{hasErrors:(postings.errors)}">
      <div *ngFor="let p of postings.controls; let i=index" [formGroupName]="i" class="posting" >
        <mat-form-field class="expand" floatPlaceholder="never">
          <input matInput placeholder="Compte" formControlName="account" type="text" [matAutocomplete]="auto">
          <mat-error *ngIf="postingAccountErrors(i) | async">
            {{ postingAccountErrors(i) | async }}
          </mat-error>
        </mat-form-field>

        <mat-form-field id="amount" floatPlaceholder="never">
            <input matInput placeholder="Montant" formControlName="amount">
            <mat-error *ngIf="postingAmountErrors(i) | async">
              {{ postingAmountErrors(i) | async }}
            </mat-error>
        </mat-form-field>

        <mat-form-field floatPlaceholder="never">
          <input matInput placeholder="Commentaire" formControlName="comment">
          <mat-error *ngIf="postingCommentErrors(i) | async">
            {{ postingCommentErrors(i) | async }}
          </mat-error>
        </mat-form-field>

        <button type="button" id="close" (click)="removePosting(i)" mat-icon-button>
          <mat-icon class="material-icons">delete</mat-icon>
        </button>
      </div>

      <mat-error *ngIf="postingsErrors | async">
        {{ postingsErrors | async }}
      </mat-error>
    </div>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let account of filteredAccounts | async" [value]="account.name">
          {{ account.name }}
      </mat-option>
    </mat-autocomplete>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button type="submit" [disabled]="group.pristine || group.invalid" color="primary">Sauvegarder</button>
    <button mat-raised-button type="button" (click)="revert()" [disabled]="group.pristine">Réinitialiser</button>
    <button mat-raised-button type="menu" (click)="addPosting();$event.preventDefault();">Ajouter une ligne</button>
    <button mat-raised-button type="menu" (click)="deleteTransaction();$event.preventDefault();" *ngIf="transactionToEdit" color="warn">Supprimer la transaction</button>
  </mat-card-actions>

</form>

</mat-card>
