<mat-sidenav-container class="mat-typography">
  <div class="main">
    <mat-toolbar color="primary">

      <span>Simple Home Accounting</span>
      <span class="app-version">v{{appVersion}}</span>

      <div [hidden]="!(isLoading | async)">
          <mat-progress-spinner
            [diameter]="30"
            color="accent"
            mode="indeterminate">
          </mat-progress-spinner>
      </div>

      <span class="example-spacer"></span>

      <button mat-button (click)="undoClicked()" [disabled]="(nbUndosAvailable | async) === 0">
        <mat-icon class="material-icons">undo</mat-icon>
        {{ (nbUndosAvailable | async) || '' }}
    </button>

    <button mat-button (click)="redoClicked()" [disabled]="(nbRedosAvailable | async) === 0">
      <mat-icon class="material-icons">redo</mat-icon>
      {{ (nbRedosAvailable | async) || '' }}
  </button>

      <button mat-button (click)="saveLedgerClicked()" [disabled]="!(showDownloadButton | async)">
          <mat-icon class="material-icons">save</mat-icon>
      </button>

      <input type="file" accept=".ofx, .ledger, .gnucash" [hidden]="true" id="upload-file" (change)="uploadFileOnChange($event.target.files)" />

      <button mat-button>
        <label id="filename" class="action_btn" for="upload-file">
          <mat-icon class="material-icons">folder_open</mat-icon>
        </label>
      </button>

      <button mat-button color="warn" (click)="resetClicked()" [disabled]="!(showResetButton | async)">
          <mat-icon class="material-icons">delete_forever</mat-icon>
      </button>

    </mat-toolbar>

    <mat-tab-group>
      <mat-tab *ngFor="let conf of tabsConf | async; trackBy:trackByFn" [ngClass]="tutu">
        <ng-template mat-tab-label>
            {{conf.title}}
            <button mat-button
              (click)="closeTabClicked(conf.tabId);$event.stopPropagation();"
              class="close-button"
              *ngIf="conf.isClosable">
                <mat-icon class="material-icons">close</mat-icon>
            </button>
        </ng-template>
        <div class="content">
          <app-transactions tabId="{{conf.tabId}}"></app-transactions>
        </div>
        <div class="footer">
          <app-edit-transaction tabId="{{conf.tabId}}"></app-edit-transaction>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>

</mat-sidenav-container>
