<mat-sidenav-container class="mat-typography">
  <mat-sidenav #drawer [opened]="isDrawerOpen | async" (opened)="handleOpen(true)" (closed)="handleOpen(false)">
    <app-menu-drawer></app-menu-drawer>
  </mat-sidenav>

  <div class="main">
    <mat-toolbar color="primary">

      <button mat-button (click)="toggle()">
          <mat-icon class="material-icons" >menu</mat-icon>
      </button>

      <span>Simple Home Accounting</span>
      <span class="app-version">v{{appVersion}}</span>

      <div [hidden]="!(isLoading | async)">
          <mat-progress-spinner
            [diameter]="30"
            color="accent"
            mode="indeterminate">
          </mat-progress-spinner>
      </div>

      <span class="example-spacer"></span>

      <button mat-button (click)="undoClicked()" *ngIf="nbUndosAvailable | async">
        <mat-icon class="material-icons">undo</mat-icon>
        {{ nbUndosAvailable | async }}
    </button>

    <button mat-button (click)="redoClicked()" *ngIf="nbRedosAvailable | async">
      <mat-icon class="material-icons">redo</mat-icon>
      {{ nbRedosAvailable | async }}
  </button>

      <button mat-button (click)="saveLedgerClicked()" *ngIf="showDownloadButton | async">
          <mat-icon class="material-icons">save</mat-icon>
      </button>

      <input type="file" accept=".ofx, .ledger, .gnucash" [hidden]="true" id="upload-file" (change)="uploadFileOnChange($event.target.files)" />

      <button mat-button>
        <label id="filename" class="action_btn" for="upload-file">
          <mat-icon class="material-icons">folder_open</mat-icon>
        </label>
      </button>

    </mat-toolbar>

    <div class="content">
      <app-transactions></app-transactions>
    </div>

    <div class="footer">
      <app-edit-transaction></app-edit-transaction>
    </div>

  </div>

</mat-sidenav-container>
