<div id="container">
    
    <div id="left">
        <div id="left_content">
            <label id="filename" class="action_btn" for="upload-ledger">{{filename ? filename : 'Choisir un fichier .ledger'}} </label>
            <input type="file" id="upload-ledger" (change)="uploadLedgerOnChange($event)" />
            
            <label id="filename2" class="action_btn" for="upload-ofx">{{filename2 ? filename2 : 'Choisir un fichier .ofx'}} </label>
            <input type="file" id="upload-ofx" (change)="uploadOfxOnChange($event)" />

            <label class="action_btn" (click)="onSaveClicked()">Sauvegarder</label>

            <ul>
                <li *ngIf="accounts.length > 0">
                    <a (click)="onAccountChanged()">Tous</a>
                </li>

                <li *ngFor="let account of accounts" [class.currentAccount] = "account == selectedAccount">
                    <a (click)="onAccountChanged(account)">
                        {{ account.name }} / C : 
                        {{ account.cumulativeBalance | number : '1.2-2' }} / 
                        {{ account.balance | number : '1.2-2' }} / 
                        {{ account.nbTransactions }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div id="right">
        <div id="right_content">
            <div *ngIf="selectedAccount">
                <h2>{{ selectedAccount.name }} 
                </h2>
                <h3>
                    {{ selectedAccount.cumulativeBalance | number : '1.2-2' }} / 
                    {{ selectedAccount.balance | number : '1.2-2' }} / 
                    {{ selectedAccount.nbTransactions }}
                </h3>
            </div>

            <br/>
            Entre le <input type="date" (change)="startDateChanged($event)"/> et le <input type="date" (change)="endDateChanged($event)"/>
            Statut
            <select (change)="onStatusChanged($event)">
                    <option value="">Tous</option>
                    <option value="*">*</option>
                    <option value="!">!</option>
            </select>
            <br/>
            <span>{{transactions.length}} transactions</span>
            <br/>
            <ul class="pagination">
                <li *ngFor='let pageIndex of nbPage | numberToArray' [class.currentPage] = "pageIndex == currentPage">
                    <a (click)="onPageChanged(pageIndex)">{{pageIndex}}</a>
                </li>
            </ul>

            <div class="transactions">
                <template ngFor let-tr [ngForOf]="transactions | slice:sliceStart:sliceEnd" let-isOdd="odd" let-isEven="even">
                    <transaction [transaction]="tr" [class.rowOdd]="isOdd" [class.rowEven]="isEven" class="row"></transaction>
                </template>
            </div>
        </div>
    </div>
    
    <div class="clear"></div>
</div>