<td></td>
<td></td>
<td></td>

<td>
    <div>
        <span *ngIf="!isEditing" class="cell">{{posting.account}}</span>
        <input type="text" list="team_list" *ngIf="isEditing" value="{{posting.account}}"/>
        <datalist id="team_list" *ngIf="isEditing">
            <option *ngFor="let a of allAccounts">{{ a }}</option>
        </datalist>
    </div>
</td>


<td>
    <div>
        <span class="cell" *ngIf="!isEditing">{{posting.comment}}</span>
        <input type="text" *ngIf="isEditing" value="{{posting.comment}}"/>
    </div>
</td>

<td>
    <div>
        <span class="cell" *ngIf="!isEditing">{{posting.amount || ''}}</span>
        <input type="text" *ngIf="isEditing" value="{{posting.amount || ''}}"/>
    </div>
</td>

<td>
    <div>
        <span class="cell" *ngIf="!isEditing">{{posting.currency}}</span>
        <input type="text" *ngIf="isEditing" value="{{posting.currency}}"/>
    </div>
</td>

<td><button *ngIf="isEditing && isLastPosting" (click)="onAddPostingClicked()">+</button></td>