<app-filters></app-filters>

  <mat-paginator #paginator [class.hidden]="noTransactionsToDisplay | async"
  [pageIndex]="0"
  [pageSize]="25"
  [pageSizeOptions]="[10, 25, 50]">
</mat-paginator>

<mat-table #table [dataSource]="dataSource" matSort [class.hidden]="noTransactionsToDisplay | async">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container cdkColumnDef="title">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header> Titre </mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <p class="mat-body-2">{{row.title}}</p>
    </mat-cell>
  </ng-container>

  <!-- Progress Column -->
  <ng-container cdkColumnDef="date">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header [ngClass]="'shrink_cell'"> Date </mat-header-cell>
    <mat-cell *cdkCellDef="let row" [ngClass]="'shrink_cell'"> {{row.date}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container cdkColumnDef="movements">
    <mat-header-cell *cdkHeaderCellDef [ngClass]="'grow_cell'"> Mouvements </mat-header-cell>
    <mat-cell *cdkCellDef="let row" [ngClass]="'grow_cell'">
        <div *ngFor="let p of (row.postings | async).slice(0,2)" class="posting">
          <span class="posting_left">{{p.account}}</span>
          <span class="posting_right" *ngIf="p.amount != 0">{{p.amount}}{{p.currency}}</span>
        </div>

        <div *ngIf="(row.postings | async).length > 2" class="posting">
          et {{ (row.postings | async).length - 2 }} supplémentaire(s)
        </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *cdkRowDef="let row; columns: displayedColumns;"
    (click)=onTransactionClicked(row)
    [ngClass]="{invalid:(row.isInvalid | async) === true}"
    [ngClass]="{highlight:(row.isSelected | async) == true}">
  </mat-row>

</mat-table>

