mat-table {

}

mat-input-container {
    width:100%;
}

mat-cell {
    padding: 5px 0;
}

.hidden {
  display: none;
}

.mat-row {
    height: auto;
    align-items: flex-start;
}

.posting {
    display:flex;
}
.posting_right {
    flex:0;
}

.posting_left {
    flex:1;
}

.shrink_cell {
    flex: 0 1 100px;
}

.grow_cell {
    flex: 1 0 100px;
}

.highlight{
    background: #cccccc;
}

mat-row {
    cursor: pointer;
}

mat-row:hover {
    background-color: #dddddd;
}
